.homeMain{
    text-align: center;
}

.homeMain h1{
    color: var(--themeRed);
    padding: 0.5em 0;
}

.homeMain button{
    margin: 0 0.5em;
    padding: 1em 2em;
    border-radius: 20px;
}

.homeMain button > *{
    text-decoration: none;
}

.loginButton{
    border: none;
    background-color: var(--themeRed);
}

.loginButton > *{
    color: white;
}

.signupButton{
    border: 1px solid var(--themeRed);
    background-color: white;;
}

.signupButton > *{
    color: var(--themeRed);
}