.homeMain{
    text-align: center;
}

.homeMain h1{
    color: var(--themeRed);
}

.homeMain button{
    margin: 0 0.5em;
}

.homeMain button > *{
    text-decoration: none;
}

.loginButton{
    background-color: var(--themeRed);
}

.loginButton > *{
    color: white;
}

.signupButton{
    border: 1px solid var(--themeRed);
    background-color: white;;
}

.signupButton > *{
    color: var(--themeRed);
}